snippet log
	Log.d(TAG, "${1:method}: ${2}");${3}
snippet loge
	Log.d(TAG, "${1:method}: " + ${2:e.toString()});${3}
snippet logv
	Log.d(TAG, "${1:method}: ${2:var}: " + ${3:var});${4}
snippet logwe
	Log.w(TAG, "${1:method}: " + ${2:e.toString()});${3}
