snippet ag
	Audiogon.${1:property}
snippet aga
	Audiogon.App.${1:property}
snippet agc
	Audiogon.Colors.${1:color}
snippet agf
	Audiogon.Fonts.${1:font}
snippet ags
	Audiogon.Styles.${1:style}
snippet tidebug
	Ti.API.debug(${1:message});
snippet tiinfo
	Ti.API.info(${1:message});
snippet fixme
	// FIXME: ${1:message}
snippet todo
	// TODO: ${1:message}
