snippet div "HTML div tag (div)"
<div${1: class="${2:class-name}"}>
	${3}
</div>
endsnippet

snippet span "HTML span tag (span)"
<span${1: class="${2:class-name}"}>${3}</span>
endsnippet

snippet js "HTML script tag for inline Javascript (js)"
<script type="text/javascript">
	$(document).ready(function() {
		${1}
	});
</script>
endsnippet

snippet erb "ERB tag (erb)" i
<% ${0} %>
endsnippet

snippet erb= "ERB output tag (erb=)" i
<%= ${0} %>
endsnippet
