snippet div "HTML div tag (div)"
<div${1: class="${2:class-name}"}>
	${3}
</div>${0}
endsnippet

snippet span "HTML span tag (span)"
<span${1: class="${2:class-name}"}>${3}</span>${0}
endsnippet

snippet js "HTML script tag for inline Javascript (js)"
<script type="text/javascript">
	$(document).ready(function() {
		${1}
	});
</script>${0}
endsnippet
